/* Pseudo-classe */
.enviar:hover,
.filtrar:hover,
.adicionar:hover,
.sobrenome__link:hover,
.destaque__link:hover{
    background-color: #230707;
    transition: all 1s;
}

h3 a:hover {
  text-decoration: underline;
}

.nav__item a{
    transition: all 1s ;
}
.nav__item a:hover{
    box-shadow: inset 0 -2px 0 0 white;
}

.link_externo:hover{
  text-decoration: underline;
}

.link_externo:active {
    color: rgb(150, 0, 0);
}

.link_externo:visited {
    color: rgb(154, 21, 21);
}

.espacomensagem{
    transition: height 2s ease-in, border-color 0.3s ease;
}

.espacomensagem:focus {
    height: 150px;
    border-color: #5a1e21;
    outline: none;
}

/* Pseudo-elemento: */

.historia__texto::selection {
    background-color: #c33a9a;
    color: #3b1f1f;
}

.historia__texto::first-letter {
    font-size: 150%;  
    font-weight: bold;  
    color: #5a1e21;  
}

/* Animações: */

.banner__titulo{
    animation: aparecer 2s ease-in;
}

.banner__texto{
    animation: aparecer 5s ease-in-out;
}

@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* Transformação */

.sobrenome__link,
.destaque__link {
  display: inline-block;
  transition: transform 0.3s ease;
}

.sobrenome__link:hover,
.destaque__link:hover {
  transform: scale(1.1);
}

.destaque__img {
  transition: transform 1s ease;
}

.destaque__img:hover {
  transform: rotate(45deg);
}
