/* Pseudo-classe */
.enviar:hover,
.filtrar:hover,
.adicionar:hover {
    background-color: #230707;
}

.link_externo:active {
    color: rgb(150, 0, 0);
}

.link_externo:visited {
    color: rgb(154, 21, 21);
}

.espacomensagem:focus {
    height: 150px;
    border-color: #5a1e21;
    transform: scale(1.05);
    outline: none;
}

/* Pseudo-elemento: */

.historia__texto::selection {
    background-color: #c33a9a;
    color: #3b1f1f;
}

.historia__texto::first-letter {
    font-size: 150%;  
    font-weight: bold;  
    color: #5a1e21;  
  }